<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_id</key>
	<string>qfkuMc8TswxKBEmbQW1WfPgWgAHVDTNUKO5BCJ4f</string>
	<key>client_id</key>
	<string>Rz5qD1VOFkdzhknrEV8ULRM2OteKp8XHp0cX6Wmz</string>
</dict>
</plist>
